name: Check

on:
  push:
    branches: ["*"]
    tags-ignore: ["v*"]
    paths:
      - ".github/workflows/*.yml"
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/**"
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build
        run: cargo build --release --locked

      - name: Create artifact
        run: |
          BRANCH_NAME=${GITHUB_REF##*/}
          tar -czvf macnetmon-${BRANCH_NAME}.tar.gz -C target/release macnetmon -C ${{ github.workspace }} README.md LICENSE

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: macnetmon-${{ github.ref_name }}
          path: macnetmon-*.tar.gz
          retention-days: 7
